a.linkProparites {
    text-decoration: none;
    color: gray;
    font-size: 17px;
    font-weight: 500;
    position: relative;
}

a.linkProparites:hover {
    color: #80b501;
    transition: all linear 0.3s;
} 

a.linkProparites:hover::before {
    content: '#';
    width: 20px;
    height: 100%;
    position: absolute;
    left: -25px;
    color: #80b501;
    display: flex;
    align-content: center;
    justify-content: center;
}