.outlineNone{
    outline: none;
}
.borderNone{
    border: none;
}
.borderRadius{
    border-radius: 50px;
}
.padding{
    padding: 10px;
}
.backgroundColor{
    background-color: #80b501;
}
.cursor{
    cursor: pointer;
}
.marginLeft{
    margin-left: 10px;
}
.bgColor{
    background-color: inherit;
}
.FavoriteBorderIcon , .RedeemIcon{
    position: relative;
}
.FavoriteBorderIconAfter::after{
    content: "3";
}
.RedeemIconAfter::after{
    content: "12";
}
.FavoriteBorderIconAfter::after , .RedeemIconAfter::after{
    color: #fff;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    background-color: #80b501;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dFlex{
    display: flex;
}
.cvvds{
    background-color: red;
}